.message-box {
    background: #e9fbff !important;
    margin: 20px 0;
    min-width: 300px;
    min-height: 180px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    color: #2380a1;
    display: flow;
}

.time {
    line-height: 0;
    font-size: 12px;
    color: #c0c0c0;
}

.text {
    font-size: 20px;
    color: #222222;
}